
/* LIKES additions */
.heart-button{
	color:white;
	-webkit-text-stroke: 1px gray;
	text-shadow:
	   -1px 	-1px 	0 gray,  
	   	1px 	-1px 	0 gray,
	   -1px 	1px 	0 gray,
	    1px 	1px 	0 gray;
	font-size:1.4em;
	cursor:pointer;
}
.you-like .heart-button{
	-webkit-text-stroke:1px red;
	color:red;
	text-shadow: none;
}

