/*
==pagination
*/
.pagination{
	clear: both;
	margin:1em 0;
	text-align: center;
}
.pagination a{
	display: inline-block;
	background-color: #eee;
	border-radius: .2em;
	padding:.25em .8em;
	text-decoration: none;
	color:black;
}