/* ==Comment Area */
.comments{
	max-width:600px;
	margin:auto;
}
.comments-list{
	
	font-size:.9em;
	border-top:solid 1px #ddd;
	border-bottom:solid 1px #ddd;
	padding:$gutter 0
}
.comment-form{
	max-width:600px;
	margin:auto;
}